
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.ofc{
  object-fit: cover;
}

.container-card{
  width:90%;
  margin:auto;
}

.card:hover{
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  color:black;
}

// footer css

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}

.eventPage{
  border: solid 1px lightgrey;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 4px lightgrey;
  border-radius: 0px 0px 10px 10px;
}

.box6{
  width: 100%;
}

.box6 .title{
  font-size: 45px!important;
}

.box6 .post{
  font-size: 25px!important;
}

.box6 .date{
  font-size: 35px!important;
  color: white;
}

.box6 .hours{
  font-size: 25px!important;
  color: white;
}

@media (max-width:767px){
  .box6 .title{
    font-size:25px!important;
  }

  .box6 .post{
  font-size: 10px!important;
  }

  .box6 .date{
  font-size: 15px!important;
  }

  .box6 .hours{
    font-size: 10px!important;
  }
}
.coverImage{
  margin: auto;
  box-shadow: 4px 0px 8px grey;
}

.box6{
  background:#000;
  position: relative;
}

.box6:after{
  background:rgba(0,0,0,.7);position:absolute;top:0;left:-30%;bottom:0;right:70%;transform:skew(20deg) translateX(-75%)
}

.box6:hover:after{
  transform:skew(20deg) translateX(0)
}

.box6 img{
  width:100%;height:auto
}

.box6:hover img{
  opacity:.5
}

.box6 .box-content{
  padding:20px;text-align:right;position:absolute;top:0;right:0;z-index:1
}

.box6 .icon,.box7 .icon{
  padding:0;list-style:none
}

.box10 .icon li a,.box11,.box12,.box13,.box14,.box6 .icon li a,.box7,.box7 .icon li a,.box8,.box8 .icon li a{
  text-align:center}

.box6 .title{
  font-size:20px;font-weight:900;color:#fff;margin:0 0 10px;transform:scale(0)
}

.box6:hover .title{
  transform:scale(1)
}

.box6 .icon li,.box6 .post{
  opacity:0;transform:translateX(40px);transition:all .35s ease 0s
}

.box6 .post{
  display:block;font-size:14px;color:#fff;margin-bottom:5px
}
.box6 .icon{
  display:inline-block;margin:0
}

.box6:hover .icon li,.box6:hover .post{
  opacity:1;transform:translateX(0)
}

.box6:hover .icon li:first-child{
  transition-delay:.1s
}

.box6:hover .icon li:nth-child(2){
  transition-delay:.2s
}

.box6 .icon li a{
  display:block;width:35px;height:35px;line-height:35px;background:#fff;font-size:18px;color:#605f5f;margin-bottom:5px;transition:all .35s ease
}

.box6 .icon li a:hover{
  background:#605f5f;color:#fff
}

@media only screen and (max-width:990px){.box6{margin-bottom:30px}
}

.eventTitle{
  color: #E95E13;
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 0!important;
}

.eventAuthor{
  font-size: 25px;
}

@media (max-width:767px){
  .eventTitle{
  font-size: 15px;
  }

  .eventAuthor{
    font-size: 10px;
  }
}

.participants{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
}

.participant{
  margin-left: 15px;
}

.participant img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}


//navbar
.left-sidebar{
  float: left;
  width:15%;
  height: 100vh;
}
.content{
  width:85%;
  float:right;
  overflow-y: scroll;
}
.sidebar{  background-color:#000;transition: all 0.5s  ease-in-out; }
.bg-defoult{background-color:#222;}
.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:8px 12px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a.active{background-color:#000;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar li a:hover{background-color:#000 !important;}
.sidebar li a i{ padding-right:5px;}
.sidebar ul li .sub-menu li a{ position:relative}
.sidebar ul li .sub-menu li a:before{
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    background-color: #111;
    height: 100%;
}
.sidebar ul li .sub-menu li a:hover{ background-color:#222; padding-left:20px; transition: all 0.5s  ease-in-out}
.sub-menu{ border-left:5px solid #dedede;}
	.sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}
	

	.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
	.sidebar.fliph {
    width: 100%;transition: all 0.5s  ease-in-out;
   
}
	
.sidebar.fliph li{ position:relative}
.sidebar.fliph .sub-menu {
    position: absolute;
    left: 39px;
    top: 0;
    background-color: #222;
    width: 150px;
    z-index: 100;
}
	

	.user-panel {
    clear: left;
    display: block;
    float: left;
}
.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
.user-panel>.info,  .user-panel>.info>a {
    color: #fff;
}
.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}
.user-panel {
    clear: left;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 25px 15px;
    border-bottom: 1px solid;
}
.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.fliph .user-panel{ display: none; }

// navbar